.paragraph p {
    color: var(--color-letras-negro);
}

.paragraph-sm {
    font-size: 16px;
    line-height: 22px;
}

.paragrah-xs{
    font-size: 13px;
    line-height: 19px;
}

.is-help-text {
    color: var(--color-gris)
  }