:root {
    --color-flor-verde: #87C5B2;
    --color-flor-verde-clara: #baecdd;
    --color-flor-verde-oscuro: #26a37e;
    --color-letras-negro: #2B3130;
    --color-gris: #B2BEBB;
    --color-gris-oscuro: #868887;
    --color-gris-claro: #ecf3f1;
    --color-fondo-blanco: #F9F9FF;

    --container-max-width: 800px;
    --container-padding: 0 24px;
}

$breakpoint-large: 992px;